<html>
    <head>
        <title>kiran reddy login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    </head>
    <body>
    <a href = ""><b>HOME</b></a>&nbsp;&nbsp;
    <a href = "\signup"><b>SIGN UP</b></a>&nbsp;&nbsp;
    <a href = "\signin"><b>SIGN IN</b></a>
    <br><br><br><h1 align="center"> HOME PAGE</h1><br><br><br>

    </body>
</html>